<template name="fighterList">
	<div class="row">
		{{#each fighter}}
			<div class="col-xs-4 col-sm-3 col-lg-2">
				<div class="panel panel-default fighter-tile">
					<div class="panel-heading">
						<h3 class="panel-title">{{name}}</h3>
					</div>
					<div class="panel-body"><img src="/images/characters/portrait/{{slug}}1.png"/></div>
				</div>
			</div>
		{{/each}}
	</div>
</template>