<template name="home">
	<div class="jumbotron">
		<h1>Welcome to SmashStats!</h1>
		<p>Track your matches in Super Smash Bros for Wii U/3DS to see all kinds of analytics.</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
</template>