<template name="smash_stats">
	<header>
		{{> nav }}
	</header>
	<div class="container">
		{{> yield }}
	</div>
</template>

<template name="nav">
  	<nav class="navbar navbar-default">
		<div class="container container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{pathFor route='home'}}">SmashStats</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#smash-stats-navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="smash-stats-navbar">
				<ul class="nav navbar-nav">
					{{#if currentUser}}
						<li><a href="{{pathFor route='myStats'}}">My Stats</a></li>
					{{/if}}
					<li><a href="{{pathFor route='fighterList'}}">Fighters</a></li>
					<li><a href="#">Players</a></li>
					<li><a href="{{pathFor route='about'}}">About</a></li>
				</ul>
				<div class="nav navbar-nav navbar-right">
		            {{> loginButtons}}
		        </div>
	        </div>
		</div>
	</nav>
</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <button class="btn btn-success btn-block">My Stats</button>
</template>