.fighter-tile 
{
	text-align: center;
	cursor: pointer;
}

.fighter-tile .panel-body:hover
{
 	background: -webkit-radial-gradient(transparent, transparent, yellow); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(transparent, transparent, yellow); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(transparent, transparent, yellow); /* For Firefox 3.6 to 15 */
	background: radial-gradient(transparent, transparent, yellow);
}

.fighter-tile img
{
	width: 100%;
	height: auto;
}

.match-spinners .form-control,
.match-spinners label
{
	text-align:center;
}

.match-spinners label
{
	display:block;
}

.match-panels .panel-title
{
	text-align:center;
	font-weight:bold;
	margin-bottom:5px;
}