<template name="addMatches">
	<script type="text/javascript" src="client/lib/select2/select2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="client/lib/select2/select2.min.css"/>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="matchDate">Match Date</label>
				<div class="input-group">
					<label for="matchDate" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span></label>
					<input type="text" class="form-control" id="matchDate">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="matchType">Match Type</label>
				<select id="matchType" class="form-control">
			  		<option value="forglory">For Glory</option>
				</select>
			</div>
		</div>
		<div class="col-xs-12 col-md-6" style="display:none;">
			<div class="form-group">
				<label for="stage">Stage</label>
				<select id="stage" class="form-control"><option></option></select>
			</div>
		</div>
	</div>
	<div class="row match-panels">
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Player</h3>
					<select id="playerCharacter" class="form-control"><option></option></select>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group match-spinners">
								<label for="playerKillsInput">Kills</label>
								<div id="playerKillsInput" class="btn-group-vertical" role="group">
									<button type="button" class="btn btn-default"><span class='glyphicon glyphicon-plus'></span></button>
									<input type="text" class="form-control spinner-input" id="playerKills" value="0">
									<button type="button" class="btn btn-default"><span class='glyphicon glyphicon-minus'></span></button>
								</div>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group match-spinners">
								<label for="playerSDInput">SDs</label>
								<div id="playerSDInput" class="btn-group-vertical" role="group">
									<button type="button" class="btn btn-default"><span class='glyphicon glyphicon-plus'></span></button>
									<input type="text" class="form-control spinner-input" id="playerSD" value="0">
									<button type="button" class="btn btn-default"><span class='glyphicon glyphicon-minus'></span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Opponent</h3>
					<select id="opponentCharacter" class="form-control"><option></option></select>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group match-spinners">
								<label for="opponentKillsInput">Kills</label>
								<div id="opponentKillsInput" class="btn-group-vertical" role="group">
									<button type="button" class="btn btn-default"><span class='glyphicon glyphicon-plus'></span></button>
									<input type="text" class="form-control spinner-input" id="opponentKills" value="0">
									<button type="button" class="btn btn-default"><span class='glyphicon glyphicon-minus'></span></button>
								</div>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group match-spinners">
								<label for="opponentSDInput">SDs</label>
								<div id="opponentSDInput" class="btn-group-vertical" role="group">
									<button type="button" class="btn btn-default"><span class='glyphicon glyphicon-plus'></span></button>
									<input type="text" class="form-control spinner-input" id="opponentSD" value="0">
									<button type="button" class="btn btn-default"><span class='glyphicon glyphicon-minus'></span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button id="addMatch" class="btn btn-primary">Add Match</button>
</template>