<template name="myStats">
	<div class="row">
		<div class="col-xs-12 col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					Menu
				</div>
				<div class="panel-body">
					<ul class="nav nav-pills nav-stacked">
						<li class="{{isActiveRoute regex='myStats'}}"><a href="{{pathFor route='myStats'}}">Overview</a></li>
						<li class="{{isActiveRoute regex='addMatch'}}"><a href="{{pathFor route='addMatches'}}">Add Matches</a></li>
					</ul>
				</div>	
			</div>
		</div>
		<div class="col-xs-12 col-md-9">
			{{> yield region='myStatsContent'}}
		</div>
	</div>
</template>